#window-size-helper-dev-liudas-eu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    font-size: 14px;
    padding: 2px 5px;
    background: rgba(253,253,253,0.8);  
    font-family: "Open Sans", sans-serif;
    color: rgb(140,140,140);

}
.window-size-helper-dev-liudas-eu-hide {
    display: none;
    visibility: hidden;
}
.window-size-helper-dev-liudas-eu-show {
    display: inline-block;
    visibility: visible;
}